* {
  font-family: 'Righteous', cursive;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.nav-bar {
  background-color: black;
  padding: 15px;
  position: fixed;
  width: 100%;
  height: 30px;
  top: 0;
}

.nav-bar a:hover {
  background: rgb(233, 230, 230);
  color: rgb(12, 5, 5);
}

.App-header {
  /* position: fixed; */
  width: 100%;
  margin-bottom: 100px;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgb(1, 5, 44);
  color: white;
  text-align: center;
  height: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 25px;
  background-color: rgb(1, 5, 44);
  color: white;
  text-align: center;
  height: 20px;
}

.fa {
  padding: 15px;
  font-size: 15px;
  width: 10px;
  text-align: center;
  text-decoration: none;
}
.fa fa-github {
  text-align: center;
}

.mainheading {
  font-family: 'Prompt', sans-serif;
  color: rgb(223, 96, 96);
}

.author {
  margin-bottom: 2%;
}
.trailtitle {
  font-family: 'Secular One', sans-serif;
  color: rgb(44, 84, 212);
}

.traildetails {
  border: 2px solid black;
  border-radius: 15px;
  padding: 3%;
  font-family: 'Playfair Display', serif;
}

.location,
.difficulty {
  font-family: 'Varela Round', sans-serif;
}

.comments {
  border: 1px solid black;
  max-width: 25%;
}

.postdetails {
  font-family: 'Yaldevi', sans-serif;
}

.rating {
  font-family: 'Prosto One', cursive;
  font-weight: bold;
  color: rgb(209, 79, 101);
}
button {
  background-color: black;
  color: white;
  border-radius: 5px;
  font-family: 'Ultra', serif;
  padding: 2px;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
  row-gap: 20px;
}

img {
  height: 266px;
  width: 474px;
  border-radius: 15px;
}
a {
  text-decoration: none;
  padding: 23px;
  color: white;
  font-weight: 900;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  color: rgb(249, 6, 228);
}
h2 {
  color: black;
}
body {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.createheader {
  font-family: 'Syncopate', sans-serif;
  color: rgb(73, 91, 245);
}

input {
  background-color: seashell;
}

.formimg {
  height: 600px;
  width: 400px;
  border-radius: 0;
}

.background {
  background-image: url('https://images.unsplash.com/photo-1640033876987-46a46735b987?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.username {
  font-family: 'Antic Didone', serif;
}
